In [56]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge,Lasso,RidgeCV,LassoCV,ElasticNetCV,ElasticNet,LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from pandas_profiling import ProfileReport
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pickle

In [2]:
df = pd.read_csv('ai4i2020.csv')
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [3]:
pf = ProfileReport(df)
pf.to_widgets()
pf.to_file("report.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=27.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [4]:
df=df.iloc[:,3:]
df.head()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [5]:
df.describe()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [6]:
x = df.drop(columns=['Air temperature [K]'])
x.head()

,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,308.6,1551,42.8,0,0,0,0,0,0,0
1,308.7,1408,46.3,3,0,0,0,0,0,0
2,308.5,1498,49.4,5,0,0,0,0,0,0
3,308.6,1433,39.5,7,0,0,0,0,0,0
4,308.7,1408,40.0,9,0,0,0,0,0,0

In [7]:
y=df['Air temperature [K]']
y.head()

0    298.1
1    298.2
2    298.1
3    298.2
4    298.2
Name: Air temperature [K], dtype: float64

In [8]:
scaler = StandardScaler()

In [9]:
arr = scaler.fit_transform(x)
arr

array([[-0.94735989,  0.06818514,  0.28219976, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.63330802, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-1.01476077, -0.22744984,  0.94428963, ..., -0.09793424,
        -0.09948362, -0.04363046],
       ...,
       [-0.94735989,  0.59251888, -0.66077672, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.85400464, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.2162938 ,  0.02137647, ..., -0.09793424,
        -0.09948362, -0.04363046]])

In [10]:
df1 = pd.DataFrame(arr)
df1.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.947360,0.068185,0.282200,-1.695984,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
1,-0.879959,-0.729472,0.633308,-1.648852,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
2,-1.014761,-0.227450,0.944290,-1.617430,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
3,-0.947360,-0.590021,-0.048845,-1.586009,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
4,-0.879959,-0.729472,0.001313,-1.554588,-0.187322,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363

In [11]:
vif_df = pd.DataFrame()
vif_df['vif'] = [variance_inflation_factor(arr,i)for i in range(arr.shape[1])]
vif_df['feature'] = x.columns
vif_df

         vif                  feature
0   1.004799  Process temperature [K]
1   5.171592   Rotational speed [rpm]
2   5.236156              Torque [Nm]
3   1.039958          Tool wear [min]
4  11.829612          Machine failure
5   2.433058                      TWF
6   4.597022                      HDF
7   3.623946                      PWF
8   3.347600                      OSF
9   1.002015                      RNF

In [12]:
# Here VIF value of Machine failure column is greater than 10 so we drop column

In [13]:
x = x.drop(columns=['Machine failure'])
x.head()

,Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,308.6,1551,42.8,0,0,0,0,0,0
1,308.7,1408,46.3,3,0,0,0,0,0
2,308.5,1498,49.4,5,0,0,0,0,0
3,308.6,1433,39.5,7,0,0,0,0,0
4,308.7,1408,40.0,9,0,0,0,0,0

In [58]:
arr1 = scaler.fit_transform(x)
arr1

array([[-0.94735989,  0.06818514,  0.28219976, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.63330802, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-1.01476077, -0.22744984,  0.94428963, ..., -0.09793424,
        -0.09948362, -0.04363046],
       ...,
       [-0.94735989,  0.59251888, -0.66077672, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.72947151,  0.85400464, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.879959  , -0.2162938 ,  0.02137647, ..., -0.09793424,
        -0.09948362, -0.04363046]])

In [15]:
df1 = pd.DataFrame(arr1)
df1.head()

,0,1,2,3,4,5,6,7,8
0,-0.947360,0.068185,0.282200,-1.695984,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
1,-0.879959,-0.729472,0.633308,-1.648852,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
2,-1.014761,-0.227450,0.944290,-1.617430,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
3,-0.947360,-0.590021,-0.048845,-1.586009,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363
4,-0.879959,-0.729472,0.001313,-1.554588,-0.06798,-0.10786,-0.097934,-0.099484,-0.04363

In [16]:
vif_df1 = pd.DataFrame()
vif_df1['vif'] = [variance_inflation_factor(arr1,i)for i in range(arr1.shape[1])]
vif_df1['feature'] = x.columns
vif_df1

        vif                  feature
0  1.004777  Process temperature [K]
1  5.154221   Rotational speed [rpm]
2  5.222899              Torque [Nm]
3  1.039904          Tool wear [min]
4  1.015584                      TWF
5  1.024976                      HDF
6  1.212152                      PWF
7  1.082597                      OSF
8  1.002015                      RNF

In [17]:
X_train,x_test,y_train,y_test = train_test_split(arr1,y,test_size = 0.25,random_state = 20)

In [18]:
X_train

array([[-0.81255812,  0.49211455, -0.74103004, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.47555369, -0.37805634,  0.18188311, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.07114837,  1.31766128, -1.34292992, ..., -0.09793424,
        -0.09948362, -0.04363046],
       ...,
       [ 0.46805871, -0.43383652,  0.28219976, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [ 0.40065782,  0.75985943, -0.87144168, ..., -0.09793424,
        -0.09948362, -0.04363046],
       [-0.07114837, -0.51192878,  0.28219976, ..., -0.09793424,
        -0.09948362, -0.04363046]])

In [19]:
lr = LinearRegression()

In [20]:
lr.fit(X_train,y_train)

LinearRegression()

In [21]:
lr.score(x_test,y_test)

0.7725460176166804

In [22]:
def adj_r2(x,y):
    r2 = lr.score(x,y)
    n = x.shape[0]
    p = x.shape[1]
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2

In [23]:
adj_r2(x_test,y_test)

0.7717238947887889

In [24]:
lr.coef_

array([ 1.73926806,  0.03278122,  0.01071191,  0.0105551 ,  0.01237123,
        0.18237306,  0.00544576, -0.01950581, -0.00305228])

In [25]:
lr.intercept_

300.00891028611954

In [26]:
lassocv = LassoCV(alphas=None,cv = 10,max_iter=20000000,normalize=True)
lassocv.fit(X_train,y_train)

LassoCV(cv=10, max_iter=20000000, normalize=True)

In [27]:
lassocv.alpha_

3.304356270694676e-05

In [28]:
lass = Lasso(alpha=lassocv.alpha_)
lass.fit(X_train,y_train)

Lasso(alpha=3.304356270694676e-05)

In [29]:
lass.score(x_test,y_test)

0.7725476837677556

In [30]:
alpha = np.random.uniform(0,10,50)

In [31]:
ridgecv = RidgeCV(alphas=alpha,cv = 10,normalize=True)
ridgecv.fit(X_train,y_train)

RidgeCV(alphas=array([7.42667288, 7.05981018, 9.21412786, 7.95677726, 8.22521925,
       3.81899561, 7.00737342, 2.87683634, 2.72888195, 8.74980262,
       9.58071535, 2.85038589, 7.60529202, 1.01446185, 8.9218351 ,
       7.69887595, 2.63122086, 0.16963525, 5.62406095, 4.17323359,
       2.29949822, 6.88683274, 7.13094476, 9.24376442, 6.68613811,
       9.7734187 , 2.51182923, 7.57350996, 3.59446169, 6.32083034,
       7.18979305, 3.76689846, 2.99368566, 4.33514254, 2.98183971,
       4.70796009, 1.97001854, 1.41627665, 8.07616809, 7.39275683,
       2.40740052, 5.60409224, 7.97124639, 2.12572909, 7.79824271,
       2.32970459, 6.46788359, 7.89099752, 2.10657221, 4.88229721]),
        cv=10, normalize=True)

In [32]:
ridgecv.alpha_

0.1696352480204799

In [33]:
ridge_lr = Ridge(alpha=ridgecv.alpha_)
ridge_lr.fit(X_train,y_train)

Ridge(alpha=0.1696352480204799)

In [34]:
ridge_lr.score(x_test,y_test)

0.7725458609785655

In [35]:
elastic = ElasticNetCV(alphas=None,cv = 10)
elastic.fit(X_train,y_train)

ElasticNetCV(cv=10)

In [36]:
elastic.alpha_

0.0053558878147038315

In [37]:
elastic.l1_ratio_

0.5

In [38]:
elastic_lr = ElasticNet(alpha=elastic.alpha_,l1_ratio=elastic.l1_ratio_)

In [39]:
elastic_lr.fit(X_train,y_train)

ElasticNet(alpha=0.0053558878147038315)

In [40]:
elastic_lr.score(x_test,y_test)

0.772584234227582

In [41]:
pickle.dump(lr,open('challenge.pickle','wb'))

In [59]:
test = scaler.transform([[308.7,1408,46.3,3,0,0,0,0,0]])

array([[-0.879959  , -0.72947151,  0.63330802, -1.6488517 , -0.06797983,
        -0.10786004, -0.09793424, -0.09948362, -0.04363046]])

In [50]:
model =  pickle.load(open('challenge.pickle','rb'))

In [51]:
model.predict(test)

array([298.43800539])